@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

body {
    font-family: var(--font-sans);
    background: var(--surface-1);
    line-height: var(--font-lineheight-3);
    color: var(--text-1);
    font-size: var(--font-size-fluid-1);
}

header {
    border-block-end: var(--border-size-2) solid var(--text-2);
    padding: var(--size-fluid-2);
    text-align: center;
    display: flex;
    align-items: center;
}

.word {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--size-fluid-1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter {
    border: solid var(--border-size-2) var(--text-2);
    display: grid;
    place-content: center;
    text-transform: uppercase;
    font-weight: var(--font-weight-7);
    aspect-ratio: var(--ratio-square);
}

.word:not(:last-child) {
    margin-block-end: var(--size-2);
}

h1 {
    line-height: var(--font-lineheight-0);
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-fluid-3);
    margin-inline-start: auto;
}

.wrapper {
    width: min(100% - 3rem, 20rem);
    margin-inline: auto;
}

.right-place, .wrong-place, .wrong {
    color: var(--gray-0);
}

.right-place {
    background: var(--green-6);
}

.wrong-place {
    background: var(--yellow-6);
}

.wrong {
    background: var(--gray-6);
}

.wrong-word {
    animation: flash 1s;
    animation-fill-mode: both;
}

@keyframes flash {
    0%, 100% {
        border-color: var(--text-2);
    }

    50% {
        border-color: var(--red-11);
    }
}

/*Spinner*/
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-block: 5vh;
    visibility: hidden;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: blue;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.show {
    visibility: visible;
}

/* winner animation */
@keyframes rainbow {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }
    8% {
        color: rgb(255, 127, 0);
    }
    16% {
        color: rgb(255, 255, 0);
    }
    25% {
        color: rgb(127, 255, 0);
    }
    33% {
        color: rgb(0, 255, 0);
    }
    41% {
        color: rgb(0, 255, 127);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    58% {
        color: rgb(0, 127, 255);
    }
    66% {
        color: rgb(0, 0, 255);
    }
    75% {
        color: rgb(127, 0, 255);
    }
    83% {
        color: rgb(255, 0, 255);
    }
    91% {
        color: rgb(255, 0, 127);
    }
}

.winner {
    animation: rainbow 4s infinite linear;
}

.timer {
    width: 90%;
    text-align: end;
    height: 3em;
}

.timer-number {
    font-size: var(--font-size-fluid-3);
    margin-inline: 0.25rem;
}

.daily {
    margin-inline-start: auto;
    font-size: var(--font-size-fluid-0);
    display: inline-flex;
    white-space: nowrap;
    font-weight: var(--font-weight-7);
    padding-inline: var(--size-fluid-2);
    padding-block: var(--size-fluid-1);
    border: var(--border-size-2) solid var(--green-5);
    background-color: transparent;
    border-radius: var(--radius-2);
    color: var(--green-9);

    &:is(:hover, :focus-visible) {
        cursor: pointer;
        color: var(--green-0);
        background-color: var(--green-5);
    }
}